.venv/
__pycache__/
*.pyc
.DS_Store
.vscode/

/1(2)-CS_basics/input/
/1(2)-CS_basics/output/
/1(2)-CS_basics/submission/

/5(1)-Basic_ML/creditcard.csv
/5(1)-Basic_ML/creditcard.csv:Zone.Identifier

/5(2)-DL/utils.py

/6(1)-CV/data
/6(1)-CV/dataset_samples.png
/6(1)-CV/model_predictions.png
/6(1)-CV/training_comparison.png

/6(2)-NLP/

/temp/