.venv/
__pycache__/
*.pyc
.DS_Store
.vscode/

/1(2)-CS_basics/input/
/1(2)-CS_basics/output/
/1(2)-CS_basics/submission/

/5(1)-Basic_ML/creditcard.csv
/5(1)-Basic_ML/creditcard.csv:Zone.Identifier

/5(2)-DL/utils.py